.MainDash{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 20px;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        justify-content: center;
        align-items: normal;
    }
}
