.MuiTableRow-root > * {
  padding: 10px;
}

.dataTable {
  padding-right: 20px;
  width: auto;
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold !important;
}

.Table td,
th {
  border: none !important;
  border-radius: 1rem;
}

.Table:first-child {
  border-radius: 0.7rem !important;
}

.status {
  padding: 8px;
  border-radius: 9px;
}

.Details {
  color: #00b5ff !important;
}

@media screen and (max-width: 768px) {
  .Table {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border-radius: 1rem;
  }
  .Table td,
  th {
    text-align: center;
  }
  .dataTable {
    width: 100%;
  }
}

.chart-container {
  display: flex;
}

.LineChart {
  width: 34.63%;
  flex: 1;
}

.RadarChart {
  width: 33.33%;
  flex: 1;
}

.ComposedChart {
  width: 32%;
  flex: 1;
}

.report-students {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.report-table {
  width: 100%;
  border-collapse: collapse;
}

.student-id, .course-id, .message, .image {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.student-id {
  background-color: #f2f2f2;
}

.report-image {
  max-width: 100%;
  height: auto;
}