.MuiTableRow-root > * {
  padding: 10px;
}

.dataTable {
  padding-right: 20px;
  width: auto;
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold !important;
}

.Table td,
th {
  border: none !important;
  border-radius: 1rem;
}

.Table:first-child {
  border-radius: 0.7rem !important;
}

.status {
  padding: 8px;
  border-radius: 9px;
}

.Details {
  color: #00b5ff !important;
}

@media screen and (max-width: 768px) {
  .Table {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border-radius: 1rem;
  }
  .Table td,
  th {
    text-align: center;
  }
  .dataTable {
    width: 100%;
  }
}

.chart-container {
  display: flex;
}

.LineChart {
  width: 34.63%;
  flex: 1;
}

.RadarChart {
  width: 33.33%;
  flex: 1;
}

.ComposedChart {
  width: 32%;
  flex: 1;
}
.newReportForm {
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.newReportForm h4 {
  margin-bottom: 20px;
}

.newReportForm label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.newReportForm input,
.newReportForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.newReportForm button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newReportForm button:hover {
  background-color: #0069d9;
}

button {
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}